[Unit]
Description=XDP Forwarding program.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/xdpfwd
Restart=always

[Install]
WantedBy=multi-user.target